.maximumNotice {
  font-size: 12px;
  margin-bottom: 7px;
}

.wishList {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  width: 20px;
  height: 28px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.wishList svg:hover {
  height: 20px;
  width: 20px;
  transform: scale(0.9);
}
