.product {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImg {
  height: 180px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.productImg img {
  height: 100%;
}

.product h2 {
  font-size: 17px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product h3 {
  font-size: 13px;
}
