.product {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.productImg {
  height: 180px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.productImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product h2 {
  font-size: 17px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product h3 {
  font-size: 13px;
}

.maximumNotice {
  font-size: 12px;
  margin-bottom: 7px;
}

.wishList {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  width: 20px;
  height: 28px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.wishList svg:hover {
  height: 20px;
  width: 20px;
  transform: scale(0.9);
}
